<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="48569WhiteSpider.Shokpod" Publisher="CN=057A034A-9706-48E3-9094-C81B85ADDAFD" Version="1.1.0.18" />
  <mp:PhoneIdentity PhoneProductId="33700be6-0a59-4693-b6f9-3fb2bddc4883" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Shokpod</DisplayName>
    <PublisherDisplayName>White Spider</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Shokpod.WindowsPhone.App">
      <m3:VisualElements DisplayName="Shokpod.WindowsPhone" Square150x150Logo="Assets\Square150x150Logo.png" Description="Shokpod.WindowsPhone" ForegroundText="light" BackgroundColor="transparent" Square44x44Logo="Assets\Square44x44Logo.png">
        <m3:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <m2:DeviceCapability Name="bluetooth.genericAttributeProfile">
      <m2:Device Id="any">
        <m2:Function Type="name:battery" />
        <m2:Function Type="serviceId:f000aa00-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:f000aa10-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:f000aa20-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:f000aa30-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:f000aa40-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:f000aa50-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:f000aa80-0451-4000-b000-000000000000" />
        <m2:Function Type="serviceId:0000ffe0-0000-1000-8000-00805f9b34fb" />
        <m2:Function Type="serviceId:00001800-0000-1000-8000-00805f9b34fb" />
        <m2:Function Type="serviceId:00001801-0000-1000-8000-00805f9b34fb" />
        <m2:Function Type="serviceId:0000180A-0000-1000-8000-00805f9b34fb" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>